html,body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header {
  height :10%;

  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  background: #4a4e4d;
}

.username_display {
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
}

button {
  margin: 5px;
  padding: 2px;
  width: 100px;
  height: 35px;
  font-size: 13px;
  border-radius: 3px;
  background: rgb(19, 181, 202);
  cursor: pointer;
}

.app_title {
  color: #f6cd61;
}

.app_title:hover {
  color: #fe8a71;
}

main{
  height:90%;
  display:flex;
}

.chats_list_section {
  height:100%;
  width:20%;
  border:1px solid black;
}

.chat_interface_section {
  width:80%;
  height:100%;

  border:1px solid black;
  position: relative;
  display:flex;
  flex-direction: column;
}

.chat_display_div {
  height:90%;
  width:100%;

  /* display:flex;
  flex-direction: column; */
  overflow: scroll;
}

.message_box_div {
  height:10%;
  width:100%;

  display:flex;
  align-items: center;

  position:absolute;
  bottom:0px;
  left:0px;
}

.message_box {
  width:90%;
  height:40px;

  margin:10px 0px;

  font-size: 30px;
}


.message {
  width:500px;
  height:80px;

  border:1px solid black;
}

.send_button {
  width:10%;
  height:50px;
  border-radius: 5px;

}
body{
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
